[versions]
kotlionVersion = "2.0.20"
junitVersion = "5.11.0"

[libraries]
# Plugins that are used in buildLogic
kotlinPlugin = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlionVersion" }
ktfmtPlugin = { module = "com.ncorti.ktfmt.gradle:plugin", version = "0.20.0" }
testLoggerPlugin = { module = "com.adarshr:gradle-test-logger-plugin", version = "4.0.0" }

# Kotlin related
ztExec = { module = "org.zeroturnaround:zt-exec", version = "1.12" }
arrowKt = { module = "io.arrow-kt:arrow-core", version = "1.2.4" }

# Testing related
junitApi = { module = "org.junit.jupiter:junit-jupiter-api", version.ref = "junitVersion" }
junitEngine = { module = "org.junit.jupiter:junit-jupiter-engine", version.ref = "junitVersion" }
assertJCore = { module = "org.assertj:assertj-core", version = "3.26.3" }

[plugins]
gradlePublish = { id = "com.gradle.plugin-publish", version = "1.2.2" }

[bundles]
junit = ["junitApi", "junitEngine", "assertJCore"]