name: run-tests

on: workflow_call

jobs:
  tests:
    name: Run Tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set Git User and Email
        run: |
          git config --global user.email "no-replay@github-action.de"
          git config --global user.name "GitHub Action"

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Cache
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-build-${{ github.head_ref || github.ref_name }}
          restore-keys: |
            ${{ runner.os }}-build-master
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            ./.gradle
            ./**/build
            ./**/node_modules

      - name: Run Assemble
        run: ./gradlew plugin:assemble assemble

      - name: Run check
        run: ./gradlew plugin:check check
